@import "styles/variables.scss";

@mixin line($name, $base-color) {
  @for $i from 0 through 5 {
    .line-#{$name}-#{$i} {
      background-color: lighten($base-color, $i * 10%);
    }
  }
}

@include line(yellow, $yellow);
@include line(blue, $blue);
@include line(green, $green);
@include line(red, $red);
@include line(violet, $violet);

.line-devhaus-0 {
  background-color: $blue;
}

.line-devhaus-1 {
  background-color: $green;
}

.line-devhaus-2 {
  background-color: $yellow;
}

.line-devhaus-3 {
  background-color: $red;
}

.line-devhaus-4 {
  background-color: $violet;
}

.line-devhaus-5 {
  background-color: darken($violet, 10%);
}
