.contact {
  .image-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    .image-container {
      position: relative;
      padding-top: 100%;
      height: 0;
      overflow: hidden;
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100%;
        object-fit: cover;
      }
    }
  }
}

.contact-middle {
  display: flex;
}

.contact-text {
  width: 100%;
}

.contact .directions {
  text-decoration: underline;
}

.location-description {
  width: 50%;
  font-size: 14px;
  color: #333;
}

#contact-image {
  height: auto;
  width: 100%;
}

.contact h1 {
  padding-right: 0;
}

@media (max-width: 800px) {
  .contact-middle {
    flex-direction: column;
  }
}
