.grid {
    display: flex;
}

.grid-col {
    margin: auto;
    width: 90%;
    align-items: center;
}

.grid-col--2 {
    display: none;
}

.question {
    margin-top: 5rem;
    h3 {
        margin-bottom: 2rem;
    }
}

.questions {
    .question-grid {
        column-gap: 6rem;
        row-gap: 4rem;
        margin-bottom: 6rem;
    }
}

@media ( min-width: 1000px ) {
    .grid-col--2 {
        display: block;
    }

    .grid-col {
        margin: 0;
        width: 45%;
        align-items: center;
    }
}