.story {
  display: grid;
  grid-template-columns: 14rem 1fr;
  gap: 1rem;
  column-gap: 2rem;

  @media (max-width: 30rem) {
    grid-template-columns: 1fr;
  }

  .image {
    margin-right: 2rem;

    width: 100%;
  }
  h3 {
    margin-bottom: 0.5rem;
  }
  .date {
    margin-top: 0.25rem;
  }
  .category {
    margin-bottom: 0.25rem;
  }
}

.stories {
  .card-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40rem, 1fr));
    @media (max-width: 40rem) {
      grid-template-columns: 1fr;
    }
    column-gap: 2rem;
    row-gap: 4rem;
    margin-bottom: 6rem;
  }
}
