@import "styles/variables.scss";

.studio {
  section {
    margin-bottom: 8rem;
  }

  .image-container {
    margin-bottom: 0.5rem;
  }

  .grid {
    row-gap: 4rem;
  }

  .grid .project {
    h3,
    h4 {
      margin-bottom: 0.5rem;
      font-size: 1.5rem;
    }
    p {
      text-align: left;
    }
  }
}
