@import "styles/variables.scss";

.studio {
  section {
    margin-bottom: 8rem;
  }

  .image-container {
    margin-bottom: 0.5rem;
  }

  .grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 4rem;
    justify-content: space-between;
    align-items: center;
  }

  .grid .project {
    flex: 0 0 min-content;
    
    img {
      max-width: 480px;
      max-height: 480px;
      width: auto;
      height: auto;
    }

    h3,h4 {
      margin-bottom: 0.5rem;
      font-size: 1.5rem;
    }
    p {
      text-align: left;
    }
  }
}
