.hero-video {
  background-size: cover;
  object-fit: cover;
  position: relative;
  height: 100%;

  .video-background {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }

  .video-background .video-holder {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 102%;
    width: 170vh;
    transform: translate(-50%, -50%);

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 10;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }

  @media (min-aspect-ratio: 16/9) {
    .video-background .video-holder {
      height: 170vw;
      width: 102%;
    }
  }

  .hero-title {
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    z-index: 4;
    cursor: default;

    h1 {
      font-family: "Lato", sans-serif;
      text-align: left;
      line-height: 0.9;
      font-weight: 400;
      font-size: 14vmin;
      color: white;
      margin-block-end: 0;
    }
  }

  .hero-title *::selection {
    background-color: transparent;
  }
}
