@import "styles/variables.scss";

.article {
  h2 {
    margin-top: 4rem;
    margin-bottom: 2.5rem;
  }
}

.text-section {
  display: grid;
  grid-template-columns: 1fr 1.7fr;
  gap: 4rem;
  margin-bottom: 6rem;

  @media (max-width: 900px) {
    display: block;
  }
}

.title-section {
  flex-shrink: 0;
  margin-bottom: 3rem;
}

.sticky-title {
  position: sticky;
  top: 2rem;
  transition: top 250ms;
}

.scroll-up {
  .sticky-title {
    top: 2rem + $navbar-height;
  }
}
