.slider-container {
  width: 50%;
}

.slider {
  padding: 8rem 0;
}

.sliderimg {
  width: 100%;
  height: auto;
}

.alice-carousel__prev-btn,
.alice-carousel__next-btn {
  font-size: 30px;
}

@media (max-width: 800px) {
  .alice-carousel .alice-carousel__dots {
    margin: 15px 3px 5px;
  }
  .slider-container {
    margin-top: 3rem;
    width: 100%;
  }
}
