@import "styles/variables.scss";

footer {
  color: $text-500;
  padding: 5rem 0 3rem;

  a,
  button {
    transition: color 350ms;
  }

  a:hover,
  button:hover {
    color: $text-900;
  }
}

footer .content {
  display: grid;
  grid-template-areas: "copyright newsletter social";
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  justify-items: center;

  @media (max-width: 900px) {
    grid-template-areas:
      "newsletter newsletter"
      "copyright social";
    grid-template-columns: 1fr 1fr;

    .newsletter {
      margin-bottom: 1rem;
    }
  }

  .social-links {
    grid-area: social;
  }

  .newsletter {
    grid-area: newsletter;
    height: 3rem;
  }

  .copyright-container {
    grid-area: copyright;
  }

  .newsletter-form,
  .newsletter-subscribe {
    min-height: 2rem;
  }
}

footer .social-links {
  justify-self: flex-end;
  text-align: right;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  font-size: 1rem;
}

footer .copyright-container {
  justify-self: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

footer .copyright {
  display: flex;
  font-size: 1rem;
}

footer .footer-links {
  display: flex;
  font-size: 1rem;
  flex-direction: column;
}

footer .newsletter {
  display: flex;
  justify-content: center;
  align-items: center;
}
