.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 1;
  width: 100vw;
}

.page > *:first-child {
  flex-grow: 1;
}

.page-enter {
  opacity: 0;
}

.page-enter-active {
  opacity: 1;
  transition: opacity 500ms;
  transition-delay: 250ms;
}

// .page-enter-done,
.page-exit {
  top: 0;
  left: 0;
  position: absolute;
  opacity: 1;
}

.page-exit-active {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 250ms;
}
